.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-item {
  width: 50%;
}

.main-img {
  width: 75%;
}

.flex-horizontal {
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  animation: slide 20s linear infinite alternate;
  position: relative;
}
.top-section {
  height: 20rem;
}
.card-image {
  height: 2rem;
  padding: 0.5rem 1rem 0.5rem;
}

.flex-item-small {
  min-width: 25rem;
}

@keyframes slide {
  0% {
    right: 0px;
  }

  100% {
    right: 100%;
  }
}


.top-coins {
  overflow: hidden;
}

.coins-header {
  font-size: 4rem;
}

.top-left-section {
  margin-bottom: 15rem;
}

.left-section-header {
  font-size: 4rem;
}